.home {
  max-width: 100%;
  height: 100vh;
}

.home__header {
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 7rem;
  line-height: normal;
  display: flex;
  flex-wrap: wrap;  
}

#home-title-second {
  font-size: 1.5rem;
  display: flex;
  flex-direction: center;
  align-items: center;
  padding-bottom: 1rem;
}

.home__name {
  padding-bottom: 1rem;
  font-weight: bold;
}

.home__content {
  justify-content: space-between;
  line-height: normal;
  font-weight: bold;
}

.home__quote {
  width: 32%;
  font-size: 1.2rem;
}

@media screen and (max-width: 1201px) {
  .home__header {
    grid-template-columns: 1fr;
    font-size: 5rem;
    line-height: normal;
    display: grid;
  }

  #home-title-second {
    font-size: 1.5rem;
    order: 3;
    margin-left: 0rem;
  }

  .home__name {
    padding: 0 0 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .home__header {
    font-size: 5rem;
  }

  .home__quote {
    width: 100%;
  }

  .home__quote:not(:first-child) {
    margin-top: 2rem;
  }
}

/*Small Screens and Devices (e.g.:MOBILE)*/
@media screen and (max-width: 480px) {
  .home__header {
    font-size: 2.6rem;
    line-height: 3px;
  }
  
  #home-title-second {
    font-size: 1rem;
  }

  .home__header span {
    padding: 0.7rem 0;
  }

  .home__name {
    padding: 0 0 1rem 0;
  }

}
