.slider {
  position: relative;
  padding: 0 5rem; 

}

.image {
  max-width: 90%;
  height: auto;
}

.slide {
  opacity: 0;
  transition-duration: 5s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 5s;
}

@media screen and (max-width: 1201px) {
  .image {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 992px) {

}

/*Medium Screens and Devices (e.g.:TABLETS)*/
@media screen and (max-width: 768px) {

}
  /*Small Screens and Devices (e.g.:MOBILE)*/
  @media screen and (max-width: 480px) {
    .image {
      width: 100%;
      height: 100%;
    }
  }
