.header {
  width: 100%;
  position: fixed;
  padding: 1rem 0;
  z-index: 12;
}

.header__container {
  margin-bottom: 1rem;
  justify-items: end;
  border-bottom: 0.2rem solid var(--primary-txt);
}

.contact-link {
  max-width: 15rem;
  font-weight: 400;
  color: var(--primary-txt);
  margin-bottom: 1rem;
}

.mobile__message {
  display: none;
}

.logo-container {
  position: relative;
  display: flex;
  float: left;
  justify-content: space-between;
  width: 90vw;
  margin-top: -0.5rem;
}

.logo-container img {
  position: absolute;
}

.logo-container .logo-part-1 {
  width: 6rem;
}

.logo-container .logo-part-2 {
  width: 2.2rem;
  margin-top: 1.85rem;
  margin-left: 1.85rem; 
}

.logo-part-1 {
  animation: rotate 15s infinite linear; /* Adjust the animation duration and timing function as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1200px) {
  .header {
    position: fixed;
  }

  .contact-link {
    max-width: 15rem;
    color: var(--primary-txt);
    font-size: 1rem;
  }

  .logo-container {
    margin-top: -1.5rem;
    justify-content: flex-start;
    width: 102%;
  }

  .logo-container .logo-part-1 {
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    width: 4rem;
  }

  .logo-container .logo-part-2 {
    width: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    position: fixed;
    padding: 1rem 1rem;
  }

  .header__container {
    display: none;
  }

  .mobile__message {
    display: flex;
    font-size: 3rem;
    flex-direction: row-reverse;
    color: #fff;
    margin-bottom: 1rem;
    justify-items: end;
    border-bottom: none;
  }
  .uil-envelope {
    color: #fff;
  }

  .logo-container {
    justify-content: flex-start;
    margin-left: -1rem;
  }

  .logo-container img {
    transform: scale(0.6);
  }
}

/*Small Screens and Devices (e.g.:MOBILE)*/
@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    position: fixed;
    padding: 0.5rem 1rem;
  }
  .mobile__message {
    font-size: 2rem;
  }

  .logo-container {
    margin-top: -1rem;
  }

  .logo-container .logo-part-1 {
    width: 3.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .logo-container .logo-part-2 {
    width: 2.3rem;
    margin-top: 1.6rem;
    margin-left: 1.6rem;
  }

  .logo-container img {
    transform: scale(0.6);
  }
}
