.header{
    width: 100%;
    position: fixed;
    padding: 1rem 0;
}

.header__container {
    margin-bottom: 1rem;
    justify-items: end;
    border-bottom: .2rem solid var(--primary-txt);
}

.contact-link {
    max-width: 15rem;
    font-weight: 400;
    color: var(--primary-txt);
    margin-bottom: 1rem;
}

.mobile__message{
    display: none;
}

@media screen and (max-width: 1200px) {
    .header{
        position: fixed;
    }
    
}

@media screen and (max-width: 768px) {
}

/*Small Screens and Devices (e.g.:MOBILE)*/
@media screen and (max-width: 480px) {
    .header{
        width: 100%;
        position: relative;
        padding: 1rem 1rem;
    }
    
    .header__container {
    display: none;
    }

    .mobile__message {
        display: flex;
        font-size: 3rem;
        flex-direction: row-reverse;
        color: #FFF;
        margin-bottom: 1rem;
        justify-items: end;
        border-bottom: .2rem solid var(--primary-txt);
    }
    .uil-envelope {
        color: #FFF;
    }
}