 
.about-header {
    width: 55.8%;
    font-style: normal;
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 145px;
    grid-template-columns: 1fr 1fr;
}
#title-first {
    font-family: var(--inter-font);
}
#title-third {
    font-family: var(--inter-font);
}
#title-forth {
    font-size: 1.5rem;
}
.about__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;  
}
