.show_button__container {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.next-page-button {
  width: 8.12rem;
  height: 8.12rem;
  border: 3px solid var(--primary-txt);
  border-radius: 50%;
  color: #fff;
}

.uil-arrow-right {
  font-size: 7rem;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-page-button:hover {
  background-color: #fff;
  color: #0022ee;
}

#down {
  display: none;
}

/*Large  Screens and Devices (e.g.:DESKTOPS)*/
@media screen and (max-width: 1200px) {
  .show_button__container {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    color: #fff;
  }

  .next-page-button {
    width: 75px;
    height: 75px;
    border: 3px solid var(--primary-txt);
    border-radius: 50%;
  }

  .uil-arrow-right {
    font-size: 3rem;
  }

  .next-page-button:hover {
    background-color: #fff;
    color: #0022ee;
  }
}

/*Medium Screens and Devices (e.g.:TABLETS)*/
@media screen and (max-width: 768px) {
  .show_button__container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  .next-page-button {
    width: 2.5rem;
    height: 2.5rem;
  }

  .uil-arrow-right {
    font-size: 2rem;
  }
}

/*Small Screens and Devices (e.g.:MOBILE)*/
@media screen and (max-width: 480px) {
  #right {
    display: none;
  }

  #down {
    display: block;
  }

  .uil-arrow-down {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
