.button__container {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    color: #fff;
}

.next-page-button {
    width: 130px;
    height: 130px;
    border: 3px solid var(--primary-txt);
    border-radius: 50%;

}

.uil-arrow-right {
    font-size: 5rem;
    z-index: 12;
}

.next-page-button:hover {
    background-color: #FFF;
    color: #0022EE;
}

/*Large  Screens and Devices (e.g.:DESKTOPS)*/
@media screen and (max-width: 992px) {
}

/*Medium Screens and Devices (e.g.:TABLETS)*/
@media screen and (max-width: 768px) {
}


/*Small Screens and Devices (e.g.:MOBILE)*/
@media screen and (max-width: 480px) {
    .button__container {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        color: #fff;
    }
    
    .next-page-button {
        width: 2.5rem;
        height: 2.5rem;
        border: 3px solid var(--primary-txt);
        border-radius: 50%
    }

    .uil-arrow-right {
        font-size: 2rem;
    }
    
    .next-page-button:hover {
        background-color: #FFF;
        color: #0022EE;
    }
    
}