/* 

=====SITE STYLE SHEET========

  1. Variable CSS Styles
  2. Typography Styles
  3. Global Styles
  4. Page Styles
  5. Media Queries Styles

  Note: Components and Routes Pages are styled within their own folder

/*
========================================
1. Variable CSS Styles
======================================== */
:root {

  --primary-background: #0022EE;
  --secondary-background: ;

  /*FONTS*/
  --primary-txt: #FFFFFF;
  --secondary-txt: ;

  --intern-font: 'Inter', sans-serif;
  --gloock-font: 'Gloock', serif;

  --normal-text: 1.5rem;

}

/*
======================================== 
2. Typography Styles
======================================== */
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inter:wght@300&display=swap');

p {
  font-family: 'Inter', sans-serif;
  color: var(--primary-txt);
  font-size: var(--normal-text);
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-family: var(--gloock-font);
}


/*
========================================
3. Global Styles
======================================== */

* {
margin: 0;
padding: 0;
box-sizing: 0;
}

html {
scroll-behavior: smooth;
background-color: #0022EE;


}

body {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

main {
}

body,
button,
input,
textarea {
  font-family: "Intern", sans-serif;
  font-size: 1rem;
  color: var(--primary-txt);
  background-color: transparent;
}

input {
  color: #000;
}

button {
  transition: all 0.5s;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

a {
text-decoration: none;
color: #000;
}
/*
========================================
4. Layout
======================================== */

.section {
  max-width: 100%;
  max-height: 100%;
  padding: 4rem 0 2rem;
}


.container {
max-width: 90%;
margin: 0 auto;
}

.grid {
display: grid;
gap: 1.5rem;
}


/*
========================================
5. Media Queries Styles
======================================== */

/*=========== BREAKPOINTS =============*/
/*Large  Screens and Devices (e.g.:DESKTOPS)*/
@media screen and (max-width: 992px) {
}

/*Medium Screens and Devices (e.g.:TABLETS)*/
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/*Small Screens and Devices (e.g.:MOBILE)*/
@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
    }
}