/* 
=====SITE STYLE SHEET========
  1. Variable CSS Styles
  2. Typography Styles
  3. Global Styles
  4. Page Styles
  5. Media Queries Styles
  Note: Components and Routes Pages are styled within their own folder
/*
========================================
1. Variable CSS Styles
======================================== */
:root {
  --primary-background: #0022ee;
  --secondary-background: ;

  /*FONTS*/
  --primary-txt: #ffffff;
  --secondary-txt: ;

  --intern-font: "Inter", sans-serif;
  --gloock-font: "Gloock", serif;

  --normal-text: 1.5rem;
}

/*
======================================== 
2. Typography Styles
======================================== */
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Inter:wght@300&display=swap");

p {
  font-family: "Inter", sans-serif;
  color: var(--primary-txt);
  font-size: var(--normal-text);
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: var(--gloock-font);
}

/*
========================================
3. Global Styles
======================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #0022ee;
}

body {
  overflow-y: hidden;
  overflow-x: scroll;
}

main {
  max-height: 100vh;
  width: 500vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

body,
button,
input,
textarea {
  font-family: "Intern", sans-serif;
  font-size: 1rem;
  color: var(--primary-txt);
  background-color: transparent;
}

input {
  color: #000;
}

button {
  transition: all 0.5s;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}
/*
========================================
4. Layout
======================================== */

.section {
  width: 100vw;
  height: 100vh;
  padding: 8rem 0 2rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/*
========================================
5. Media Queries Styles
======================================== */

/*=========== BREAKPOINTS =============*/
/*Large  Screens and Devices (e.g.:DESKTOPS)*/
@media screen and (max-width: 1200px) {
  * {
    /*
margin: 0;
padding: 0;
box-sizing: border-box;
*/
  }

  html {
    scroll-behavior: smooth;
    background-color: #0022ee;
    overflow-x: hidden;
  }

  body {
    overflow-y: hidden;
    overflow-x: scroll;
  }

  main {
    max-height: 100vh;
    width: 600vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  body,
  button,
  input,
  textarea {
    font-family: "Intern", sans-serif;
    font-size: 1rem;
    color: var(--primary-txt);
    background-color: transparent;
  }

  input {
    color: #000;
  }

  button {
    transition: all 0.5s;
    cursor: pointer;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .section {
    /*
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  */
  }

  .container {
    /*
max-width: 90%;
margin: 0 auto;
*/
  }

  .grid {
    /*
display: grid;
gap: 1.5rem;
*/
  }
}

/*Medium Screens and Devices (e.g.:TABLETS)*/
@media screen and (max-width: 768px) {
  body {
    overflow-y: visible;
    overflow-x: visible;
  }

  .container {
    max-width: 85%;
  }

  .section {
    padding: 8rem 0 2rem;
  }
  
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
  }
}

/*Small Screens and Devices (e.g.:MOBILE)*/
@media screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 1rem;
  }

  .section {
    padding: 8rem 0;
    height: 100%;
  }

  .section:not(:first-child) {
    padding: 4rem 0;
  }
}
